.footer {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(1, 15, 18);
        color: white;
        border-top: 2px solid rgb(7, 1, 0);
        padding-block: 0.5rem;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 500;
    
}